/* Global */
:root {
  /* App Colors */
  --color-primary: #f1f0ec;
  --color-primary-variant: #f4f4f8;
  --color-accent: #fed766;
  --color-accent-varient: #c8b8b7;
  --color-text: var(--color-black);

  /* Colors */
  --color-black: #050a13;
  --color-beige: #f1f0ec;
  --color-lightgrey: #f4f4f8;
  --color-darkgrey: #363636;
  --color-grey: #e6e6ea;
  --color-brown: #c8b8b7;
  --color-yellow: #fed766;

  /* Size */
  --size-max-width: 1200px;

  /* Font */
  --text-nanum: "Nanum Myeongjo", serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "pretendard", sans-serif;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  color: var(--color-black);
  text-decoration: none;
}

button {
  background-color: transparent;
  border: 0;
  outline: 0;
}

button:focus {
  outline: 1px solid var(--color-accent-varient);
}

/* Header */
.header {
  display: flex;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  padding: 1rem;
  background-color: white;
  border-bottom: 1px solid black;
  justify-content: space-between;
  align-items: center;
}

.header__logo__img {
  width: 36px;
  height: 48px;
  object-fit: cover;
}

.header__menu {
  display: flex;
  gap: 4px;
}

.header__menu__item {
  padding: 8px 16px;
}

.header__menu__item:hover {
  border-bottom: 1px solid var(--color-accent);
}

.header__menu__item.active {
  border: 1px solid var(--color-accent);
  border-radius: 4px;
}

/* Common */
.section {
  padding: 7rem 4rem;
  text-align: center;
}

.max-container {
  max-width: var(--size-max-width);
  margin: auto;
}

.title {
  margin: 1rem 0;
  font-family: var(--text-nanum);
  font-size: 2.5rem;
  font-weight: 500;
}

.project__img {
  width: 55%;
  object-fit: cover;
}

.project__description {
  position: relative;
  margin: 2rem 0 0 3rem;
  text-align: left;
}

.project__description::before {
  content: "";
  position: absolute;
  top: 4px;
  left: -40px;
  width: 0.2rem;
  height: 13rem;
  background-color: var(--color-accent-varient);
}

.project__title {
  padding-bottom: 1rem;
  color: var(--color-accent-varient);
  font-size: 2.3rem;
  line-height: 40px;
}

.project__subtitle {
  color: var(--color-black);
  font-size: 1.05rem;
  font-weight: normal;
}

.project__text {
  padding: 0.5rem 0;
  font-size: 1.2rem;
}

.project__text:last-child {
  margin-bottom: 1.5rem;
}

.project__accenttext {
  padding-right: 1.5rem;
  color: var(--color-accent-varient);
}

.project__button {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.9rem 3rem;
  border: 1px solid var(--color-accent-varient);
  border-radius: 4px;
  transition: 0.3s;
}

.project__button:hover {
  color: white;
  background-color: var(--color-accent-varient);
  border-radius: 4px;
}

/* Home */
#home {
  position: relative;
  padding: 7rem 1rem;
  padding-top: 8.5rem;
  background-color: var(--color-primary);
  text-align: center;
}

.home__titleleft {
  float: left;
  margin-top: -250px;
  color: var(--color-accent-varient);
  font-family: var(--text-nanum);
  font-size: 1.5rem;
  letter-spacing: 1px;
  transform: rotate(-90deg);
}

.home__profile {
  width: 540px;
  height: 540px;
  object-fit: cover;
}

.home__name {
  margin-top: -60px;
  color: var(--color-accent-varient);
  font-family: var(--text-nanum);
  font-size: 2.7rem;
  font-weight: normal;
  letter-spacing: 1px;
}

.home__titleright {
  float: right;
  margin-top: -250px;
  color: var(--color-accent-varient);
  font-family: var(--text-nanum);
  font-size: 1.5rem;
  letter-spacing: 1px;
  transform: rotate(-270deg);
}

.home__scroll-down {
  display: flex;
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  align-items: center;
  flex-direction: column;
  transform: translateX(-50%);
}

.home__scroll {
  display: flex;
  width: 1.5rem;
  height: 2.5rem;
  border: 2px solid #333;
  border-radius: 2rem;
  justify-content: center;
  align-items: center;
}

.home__scroll-dot {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: #333;
  display: block;
  animation: cursor 1.15s linear infinite;
}

.home__arrow-down {
  width: 0.6rem;
  height: 0.6rem;
  border: 2px solid transparent;
  border-right-color: #333;
  border-bottom-color: #333;
  transform: rotate(45deg);
  margin-top: 0.3rem;
  animation: arrow 1.15s linear infinite;
}

@keyframes cursor {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(1rem);
  }
}
@keyframes arrow {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

/* About */
#about {
  display: flex;
  position: relative;
  padding: 11rem 4rem 7rem 4rem;
  justify-content: space-evenly;
}

.about__profile {
  clear: both;
  width: 400px;
  height: 470px;
  border-radius: 30px;
  box-sizing: border-box;
  object-fit: cover;
  object-position: 0px -42px;
}

.about__deco {
  position: absolute;
  left: 0%;
  top: 6%;
  width: 21%;
  object-fit: cover;
  animation: rotate_image 30s linear infinite;
  transform-origin: 50% 50%;
}
@keyframes rotate_image {
  100% {
    transform: rotate(360deg);
  }
}

.about {
  width: 50%;
  margin: 0.5rem 1.5rem;
  text-align: left;
}

.about__title {
  margin: 1rem 0 1.5rem 0;
  font-size: 1.7rem;
  line-height: 38px;
}

.about__description {
  padding: 0.5rem 0;
  font-size: 1.3rem;
}

.about__text:nth-child(n + 1) {
  line-height: 30px;
  word-break: keep-all;
}

/* Skills */
#skills {
  background-color: var(--color-primary);
}

.skills {
  display: flex;
  justify-content: space-around;
}

.skill__description {
  position: relative;
  margin-left: 1rem;
  padding: 1rem 0;
  font-size: 1.3rem;
  text-align: left;
}

.skill__description::before {
  content: "";
  position: absolute;
  top: 25px;
  left: -22px;
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background-color: var(--color-accent-varient);
}

.skill__icons {
  display: flex;
  flex-wrap: wrap;
  padding-top: 0.5rem;
}

.skill__icon {
  padding-right: 0.7rem;
}

.skill__icon__img {
  width: 3rem;
}

/* Project */
.project__navlist {
  display: flex;
  justify-content: center;
  margin: 2rem;
  gap: 1rem;
}

.project__nav {
  display: block;
  padding: 0.5rem 3rem;
  border: 1px solid var(--color-accent);
  border-radius: 4px;
  font-size: 1.1rem;
  white-space: nowrap;
}

.project__nav:hover {
  background-color: var(--color-accent);
  transition: 0.3s;
}

.project__nav.active {
  background-color: var(--color-accent);
}

#sangol,
#krispydonut,
#blackpink,
#healing {
  display: flex;
  justify-content: center;
}

#krispydonut,
#blackpink,
#healing {
  display: none;
}

/* Design */
#design {
  background-color: var(--color-primary);
}

.design__title {
  padding-bottom: 2rem;
}

.designs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  transition: all 250ms ease-out;
}

.design {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.design__img {
  width: 100%;
  transform: scale(2);
}

.design__metadata {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-darkgrey);
  color: white;
  opacity: 0;
  justify-content: center;
  align-items: center;
  transition: all 250ms ease-in;
  transform: translateY(-10px);
}

.design__metadata:hover {
  opacity: 0.8;
  transform: translateY(0px);
}

.design__text::after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  margin: 0.5rem;
  width: 50px;
  height: 2px;
  transform: translateX(-50%);
  background-color: var(--color-accent);
}

/* Arrow up */
.arrow-up {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  font-size: 3rem;
  width: 4.5rem;
  height: 4.5rem;
  background-color: var(--color-accent-varient);
  color: var(--color-primary-variant);
  border-radius: 100%;
  text-align: center;
  box-shadow: 0px 0px 5px rgba(221, 221, 221, 1),
    0 4px 20px rgba(204, 204, 204, 1);
  transition: opacity 300ms ease-in;
}

/* Contact */
#contact {
  background-color: var(--color-darkgrey);
  color: white;
}

.contact_02_text {
  margin: 0.5rem 0;
}

.contact__section {
  padding: 2rem;
  text-align: center;
}

.contact_links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  font-size: 1.8rem;
}

.contact_link {
  color: white;
  transition: color 250ms ease-in;
}

.contact_link:hover {
  color: var(--color-accent);
}

@media screen and (max-width: 768px) {
  .section {
    padding: 5rem 2rem;
  }

  .title {
    font-size: 2rem;
  }

  .header {
    flex-direction: column;
    align-items: start;
  }

  .header__menu {
    flex-direction: column;
    text-align: center;
    padding: 1rem 4rem;
    gap: 1rem;
  }

  .header__nav {
    width: 100%;
  }

  #about {
    flex-direction: column;
    padding: 6rem 2rem 7rem 2rem;
  }

  .about__profile {
    margin: auto;
    width: 300px;
    height: 300px;
    border-radius: 100%;
  }

  .about {
    margin: 0;
    width: 100%;
  }

  .about__description {
    padding: 0.7rem 0;
    font-size: 1.2rem;
    line-height: 28px;
  }

  .about__deco {
    display: none;
  }

  .skills {
    flex-direction: column;
  }

  .skill__description {
    padding: 1rem;
    font-size: 1.2rem;
    line-height: 28px;
  }

  .skill__description::before {
    left: -5px;
    top: 27px;
  }

  .project__navlist {
    margin: 0;
    flex-direction: column;
    width: 100%;
  }

  #sangol,
  #krispydonut,
  #blackpink,
  #healing {
    flex-direction: column;
  }

  .project__img {
    width: 100%;
  }

  .project__description {
    margin: 0;
    text-align: center;
  }

  .project__title {
    font-size: 2rem;
  }

  .project__description::before {
    display: none;
  }

  .designs {
    grid-template-columns: repeat(2, 1fr);
  }

  .arrow-up {
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
    bottom: 1.5rem;
    right: 1.5rem;
  }
}
